/* this is how comments are written */
.pd {
    font-family: arial; 
    text-shadow: 2px 5px white;
} 
* { 
    font-variant: small-caps;
}
.pd, h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;}
#para {color: maroon}
h1 {
    color: rgb(81, 79, 79);
    text-decoration:overline underline ;
    box-shadow: 2px 5px black;
    text-indent: 20%;
    transform: scaleY(1.2);
}
body 
{ 
    background-color: rgb(191, 189, 189);
    background-image: url("img3.jpeg") ;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 300px ;
    margin-bottom: 220px;
    background-attachment: scroll;
}
