/* this is how comments are written */
.pd { font-family: arial; } 
* { font-variant: small-caps }
.pd, h1 {font-family: arial ;}
.pd, h1 {font-style: italic;}
#para {color: maroon}
h1 {color: rgb(81, 79, 79)}
body 
{ 
    background-color: rgb(191, 189, 189);
    background-image: url("img3.jpeg") ;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 300px ;
    margin-bottom: 220px;
    background-attachment: scroll;
    background: linear-gradient(grey, rgb(232, 214, 214), rgb(48, 47, 47))
}
